.header {
  display: flex; /* Diseño flexible */
  flex-direction: row; /* Orientación horizontal */
  justify-content: center; /* Centrar contenido */
  height: 100vh; /* Altura 100% de la ventana */
  font-weight: bold; /* Texto en negrita */
  color: #ffffff; /* Color del texto en blanco */
  text-shadow: 15px 15px #222; /* Efecto de sombra en el texto */
  font-size: 80px; /* Tamaño de fuente */
}

.header div {
  display: flex; /* Diseño flexible */
  flex-direction: column; /* Orientación vertical */
  justify-content: center; /* Centrar contenido verticalmente */
}
.yellowText {
  color: goldenrod; /* Color dorado */
}

.infoSection {
  display :flex;
  flex-direction:row;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.infoContainer{
  color: white;
  margin-left: 40px;
}

.infoContainer .tittle {
font-size: 60px;
font-weight: bold;
}

.infoContainer .list{
  margin-top: 30px;

}
.infoContainer.list ul{
  padding-left: 20px;
}

.infoContainer.list ul li{
  margin-bottom: 20px;
  list-style: disc;
}

.grayText {
  color: gray;
}

.images {
  max-width:  75%;
  height: 50vh;
  border-radius: 20%;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}