.header {
  display: flex; /* Diseño flexible */
  flex-direction: row; /* Orientación horizontal */
  justify-content: center; /* Centrar contenido */
  height: 100vh; /* Altura 100% de la ventana */
  font-weight: bold; /* Texto en negrita */
  color: #ffffff; /* Color del texto en blanco */
  text-shadow: 15px 15px #222; /* Efecto de sombra en el texto */
  font-size: 80px; /* Tamaño de fuente */
}

.header div {
  display: flex; /* Diseño flexible */
  flex-direction: column; /* Orientación vertical */
  justify-content: center; /* Centrar contenido verticalmente */
}
.yellowText {
  color: goldenrod; /* Color dorado */
}
